<h1>Listing worklogs</h1>

<table>
  <tr>
    <th>Task id</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Elapsed hours</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @worklogs.each do |worklog| %>
  <tr>
    <td><%= worklog.task_id %></td>
    <td><%= worklog.start_time.strftime("%y-%m-%d %l:%M%p") rescue nil%></td>
    <td><%= worklog.end_time.strftime("%y-%m-%d %l:%M%p") rescue nil %></td>
    <td><%= worklog.elapsed_hours %></td>
    <td><%= link_to 'Show', worklog %></td>
    <td><%= link_to 'Edit', edit_worklog_path(worklog) %></td>
    <td><%= link_to 'Destroy', worklog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Worklog', new_worklog_path %>
