<h2>Show Worklog</h2>

<p id="notice"><%= notice %></p>

<p>
  <b>Task ID:</b>
  <%= @worklog.task_id %>
</p>

<p>
  <b>Starttime:</b>
  <%= @worklog.start_time %>
</p>

<p>
  <b>Endtime:</b>
  <%= @worklog.end_time %>
</p>


<%= link_to 'Edit', edit_worklog_path(@worklog) %> |
<%= link_to 'Back', worklogs_path %>
