<h1>Active Tasks</h1>

<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th>Rank</th>
    <th>Name</th>
    <th>Create date</th>
    <th>Total hours</th>
    <th>Current work log</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.rank %></td>
    <td><%= task.name %></td>
    <td><%= task.create_date.strftime("%Y-%m-%d %l:%M%p") rescue nil %></td>
    <td><%= task.total_hours %></td>
    <td><%= link_to task.current_work_log, task.current_work_log.present? ? edit_worklog_path(Worklog.find(task.current_work_log)) : '' %></td>
    <td><%= link_to 'Punch ' + task.get_punch_direction, punch_task_path(task) %></td>
    <td><%= link_to 'Close', close_task_path(task) %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_task_path %>
