<h1>Listing tasks</h1>

<table>
  <tr>
    <th>Rank</th>
    <th>Name</th>
    <th>Createdate</th>
    <th>Closedate</th>
    <th>Currentworklog</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.rank %></td>
    <td><%= task.name %></td>
    <td><%= task.create_date.strftime("%Y-%m-%d %l:%M%p") rescue nil %></td>
    <td><%= task.close_date.strftime("%Y-%m-%d %l:%M%p") rescue nil %></td>
    <td><%= task.current_work_log %></td>
    <td><%= link_to 'Show', task %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_task_path %>
