<p id="notice"><%= notice %></p>

<p>
  <b>Rank:</b>
  <%= @task.rank %>
</p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Createdate:</b>
  <%= @task.create_date %>
</p>

<p>
  <b>Closedate:</b>
  <%= @task.close_date %>
</p>

<p>
  <b>Currentworklog:</b>
  <%= @task.current_work_log %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
